/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.02.2017, 16.02.2017 14:40:15
    Author     : lentz
*/

body {
    color: white;
}

#botbar {
    background-color: #ED146F;
    text-align: left;
}

#inputForm {
    position: absolute;
    right: 0px;
}